<h2>UnPublished Zoos</h2>
<td><%= zoo.name %></td>
<td><%= zoo.city %></td>
<td><%= zoo.zipcode %></td>
<td><%= zoo.publish %></td>
<td><%= link_to 'Show', zoo %></td>
<td><%= link_to 'Edit', edit_zoo_path(zoo) %></td>
<td><%= link_to 'Destroy', zoo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
